<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyGames.Connect4.Wpf.Settings.ThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MyGames.Connect4.Wpf.Settings.ThemeSettings>
            <setting name="Base" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="PrimaryColor" serializeAs="String">
                <value>#B22222</value>
            </setting>
            <setting name="AccentColor" serializeAs="String">
                <value>#FFD801</value>
            </setting>
            <setting name="PrimaryForegroundColor" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="AccentForegroundColor" serializeAs="String">
                <value>#000000</value>
            </setting>
        </MyGames.Connect4.Wpf.Settings.ThemeSettings>
    </userSettings>
</configuration>